<template>
  <div class="hello">
    <h1>{{ msg }}</h1>


    <h2>Add React in One Minute</h2>
    <p>This page demonstrates using React with no build tooling.</p>
    <p>React is loaded as a script tag.</p>

    <!-- We will put our React component inside this div. -->
    <div id="like_button_container"></div>


  </div>
</template>

<script>
export default {

  name: 'HelloWorld',
  props: {
    msg: String
  },


  created () {

    /* NOTE: async attribute doesn't work for JSX mode. No clue yet. */
    /* $loadScript will automatically add async for script. */
    // this.$loadScript('https://unpkg.com/react@16/umd/react.development.js')
    // this.$loadScript('https://unpkg.com/react-dom@16/umd/react-dom.development.js')
    // this.$loadScript('https://unpkg.com/babel-standalone@6/babel.min.js')
    // .then(() => {


      // <!-- Load our React component. -->
      let like_button = document.createElement('script');
      like_button.setAttribute('src','like_button.js');

      like_button.setAttribute('type', "text/babel");
      
      document.body.appendChild(like_button);

    // })  
  },


}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
